html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    inset: 0;
    display: block;
}

#place {
    width: 100%;
    height: 100%;
    position: relative;
}

#svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#svg * {
    stroke: red;
    stroke-width: 2;
}